esp32/.vscode/
esp32/.vscode/*
esp32/src/credentials.h
esp32/.pio/
esp32/.pio/*
esp32/.gitignore

__pycache__/

server/records/*
server/datasets/*
server/.vscode/
server/.vscode/*
temp/
nn_models
venv/*

*.rar
*zip
*.pdf
*.wav
*code-workspace
